// $aleg: 'Alegreya Sans', sans-serif;
$aleg:'Montserrat', sans-serif;
$wht: rgba(255, 255, 255, 1);
$grad: linear-gradient(205.15deg, #57c6eb 0%, #4868ba 101.93%);
$drkB: #01152e;
$sel: #252b3a;
$not:#31394e;
// $grn:#44cb68;
$grn:#87FFB7;
$slider-width-number: 240;
$slider-width: #{$slider-width-number}px;
$slider-height: 2px;
$background-slider: #c7c7c7;
$background-filled-slider: #e33d44;
$thumb-width: 28px;
$thumb-height: 18px;
$thumb-radius: 8px;
$thumb-background: #fff;
$thumb-border: 1px solid #777;
$shadow-size: -8px;
$fit-thumb-in-slider: -8px;
$vio:#E087FF;
